<div data-role="page" id="poke-details">
	<div data-role="header" class="ui-bar ui-bar-a">
		<h1>Details</h1>
		<a href="../index.html" class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-btn-icon-notext ui-icon-back" data-direction="reverse" data-rel="back" data-transition="slide">back</a>
	</div>
	
	<div data-role="main" class="ui-content ui-content-a" id="pokemon-container">
	</div>
	
	<div data-role="footer" class="ui-bar ui-bar-a" data-id="pokefoot">
		<!--<a class="ui-btn ui-btn-inline ui-corner-all ui-icon-arrow-u ui-btn-icon-left" id="to-top">Top</a>-->
		<h1>Details</h1>
	</div>
</div>