<div data-role="page" id="settings">
	<div data-role="header" class="ui-bar ui-bar-a">
		<a href="../index.html" class="ui-btn ui-btn-inline ui-corner-all ui-icon-back ui-btn-icon-left" data-direction="reverse" data-rel="back" data-transition="slide">back</a>
		<h1>Settings</h1>
	</div>
	
	<div data-role="main" class="ui-content ui-content-a" id="settings-container">
		<h1>ITSA SOTAD</h1>
		<label for='slider-1'>Slider:</label>
		<input type='number' name='slider-1' data-type='range' data-highlight='true' min='0' max='12' step='1' value='6'>
	</div>
	
	<div data-role="footer" class="ui-bar ui-bar-a" data-id="pokefoot">
		<a class="ui-btn ui-btn-inline ui-corner-all ui-icon-arrow-u ui-btn-icon-left" id="to-top">Top</a>
	</div>
</div>